#game{
    background-color: #c55ba5;
    min-width: 340px;
    min-height: 500px;
    width: 100vw;
    height: 100vh;
}

header{
    background-color: #fff;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tabuleiro{
    padding: 3px;
    border:2px solid #000;
    width: 100%;
    height: 90%;
}

.easy{
    max-width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;  
}

.card{
    width: 100%;
    height: 100%;
	  border: 1px solid #f00;
}

#opcoes{
  position: absolute;
  background-color: #b8a5b2;
  border: 2px solid red;
  width: 300px;
  height: 200px;
  left: calc(50% - (150px));
  top: calc(50% - (100px));
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#dificuldade{
  /* display: none; */
  text-align: center;
  cursor: pointer;
}

#dificuldade h2:hover{
 background-color: #f3e8f0;
}

#dificuldade #medio{
  margin: 5% 0;
}

#fim{
  display: flex;
  display: none;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#fim img{
  width: 40%;
  height: 50%;
  cursor: pointer;
}

#fim img:hover{
  background-color: #f3e8f0;
}

#modal{
    position: absolute;
    width: 0;
    height:0;
    z-index: 99;
}

@media (max-width: 1200px) {
  .easy {
    max-width: 40%;
  }
}

@media (max-width: 1000px) {
  .easy {
    max-width: 50%;
  }
}

@media (max-width: 850px) {
  .easy {
    max-width: 60%;
  }
}

@media (max-width: 650px) {
  .easy {
    max-width: 70%;
  }
}

@media (max-width: 550px) {
  .easy {
    max-width: 80%;
  }
}