:root{
    --sizeSplash: 80%; 

    --sizeWPanels:50%; 
    --sizeHPanels:50%;
    
    --heightHeader:10%;

    --heightMain:90%; 

    --widthBoardEasy:40%; 
    --heighBoardEasy:90%;

    --widthBoardNormal:40%; 
    --heighBoardNormal:90%;

    --widthBoardHard:95%; 
    --heighBoardHard:90%;
    
    --gridGapCards:5px;

    --sizeImagesEasy:80%; 

    --sizeImagesNormal:80%; 

    --sizeImagesHard:80%; 


}
/* ---------------------------------------- */
#msgs,
#game,
#protection,
#splash,
#header,
#panels,
#options,
#theEnd,
#main,
#main h3,
#board,
#easy,
#normal,
#hard
{
    display: none;
}
/* ---------------------------------------- */
#msgs{
    /* display: block; */
    z-index: 100;
    position: absolute;
    padding: 5% 0;
    background-color: rgba(255, 0, 0, 0.7);
    width: 100%;
    text-align: center;
}

#msgs h1{
    margin-bottom: 5px;
}

/* ---------------------------------------- */
#protection{
    /* display: block; */
    z-index: 98;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

/* ---------------------------------------- */
#game{
    z-index: 96;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

}
/* ---------------------------------------- */

#splash{
    /* display: block; */
    z-index: 99;
    position: absolute;
    width: var(--sizeSplash);
    height: var(--sizeSplash);
    cursor: pointer;
}

#splash img{
    width: 100%;
    height: 100%;
}

/* ---------------------------------------- */

#header{
    /* display: block; */
    height:var(--heightHeader);
    width: 100%;
    background-color: steelblue;
    text-align: center;
}

#main{
    /* display: flex; */
    height:var(--heightMain);
    background-color: tomato;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main h3{
    cursor: pointer;
}

#main h3:hover{
    text-align: center;
    width: 100%;
    background-color: rgb(255, 255, 0);
}

/* ---------------------------------------- */

#panels{
    /* display: flex; */
    z-index: 97;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: var(--sizeWPanels);
    height: var(--sizeHPanels);
    background-color: rgb(85, 105, 194);
    border: 2px solid #000000;
}

/* ---------------------------------------- */

#options{
    /* display: block; */
    text-align: center;
}

#options h2{
    cursor: pointer;
}

#levelEasy:hover{
    background-color: rgb(48, 236, 64);
}

#levelNormal{
    margin: 5% 0;
}

#levelNormal:hover{
    background-color: rgb(255, 255, 0);
}

#levelHard:hover{
    background-color: rgb(255, 0, 0);
}

/* ---------------------------------------- */

#theEnd{
    width: 80%;
    height: 100px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#theEnd img{
    cursor: pointer;
    width: 50%;
    height: 50%;
}


/* ---------------------------------------- */

#board{
    /* display: block; */
    border: 1px solid rgb(0,0,0);
    padding: 5px;
}

.boardEasy{
    width: var(--widthBoardEasy);
    height: var(--heighBoardEasy);
}

.boardNormal{
    width: var(--widthBoardNormal);
    height: var(--heighBoardNormal);
}

.boardHard{
    width: var(--widthBoardHard);
    height: var(--heighBoardHard);
}

/* ---------------------------------------- */

.card{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0;
}


/* ---------------------------------------- */
#easy{
    /* display: grid; */
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-gap:var(--gridGapCards);
}

#easy .card{
     border: 2px solid rgb(13, 105, 13);
     background-color: rgb(13, 105, 13);
     width: 100%;
     height: 100%;
}

/* ---------------------------------------- */

/* ---------------------------------------- */

#normal{
    /* display: grid; */
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-gap:var(--gridGapCards);
}

#normal .card{
     border: 2px solid rgb(244, 248, 6);
     background-color: rgb(244, 248, 6);
     width: 100%;
     height: 100%;
}

/* ---------------------------------------- */

/* ---------------------------------------- */

#hard{
    /* display: grid; */
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-gap:var(--gridGapCards);
}

#hard .card{
     border: 2px solid rgb(244, 0, 0);
     background-color:  rgb(244, 0, 0);
     width: 100%;
     height: 100%;
}

/* ---------------------------------------- */






@media (max-width: 370px) {
    #board{
        width:80%;
        height:80%;
    }
};