:root{
    --sizeSplash: 80%; 
}

#msgs,
#game,
#protection,
#splash,
#header,
#panels,
#options,
#theEnd,
#main,
#board,
#easy,
#normal,
#hard
{
    display: none;
}

#msgs{
    z-index: 100;
    position: absolute;
    padding: 5% 0;
    background-color: rgba(255, 0, 0, 0.7);
    width: 100%;
    text-align: center;
}

#msgs h1{
    margin-bottom: 5px;
}

#protection{
    z-index: 98;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#game{
    z-index: 96;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

}

#splash{
    z-index: 99;
    position: absolute;
    width: var(--sizeSplash);
    height: var(--sizeSplash);
    cursor: pointer;
}

#splash img{
    width: 100%;
    height: 100%;
}
