:root{
    --sizeSplash: 80%; 
    --sizeWPanels:50%; 
    --sizeHPanels:50%;
    --heightHeader:10%;
    --heightMain:90%; 
}

#msgs,
#game,
#protection,
#splash,
#header,
#panels,
#options,
#theEnd,
#main,
#board,
#easy,
#normal,
#hard
{
    display: none;
}

#msgs{
    z-index: 100;
    position: absolute;
    padding: 5% 0;
    background-color: rgba(255, 0, 0, 0.7);
    width: 100%;
    text-align: center;
}

#msgs h1{
    margin-bottom: 5px;
}

#protection{
    z-index: 98;
    position: absolute;
    background-color: transparent;
    width: 100%;
    height: 100%;
}

#game{
    z-index: 96;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

}
#splash{
    z-index: 99;
    position: absolute;
    width: var(--sizeSplash);
    height: var(--sizeSplash);
    cursor: pointer;
}

#splash img{
    width: 100%;
    height: 100%;
}

/* ---------------------------------------- */

#header{
    height:var(--heightHeader);
    display: block; 
    width: 100%;
    background-color: steelblue;
    text-align: center;
}

#main{
    display: block; 
    height:var(--heightMain);
    background-color: tomato;
    width: 100%;
}

/* ---------------------------------------- */

#panels{
    z-index: 97;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: var(--sizeWPanels);
    height: var(--sizeHPanels);
    background-color: rgb(18, 119, 69);
    border: 2px solid #000000;
}

#options{
    text-align: center;
}

#levelNormal{
    margin: 5% 0;
}

/* ---------------------------------------- */

@media (max-width: 370px) {
    :root{
        --sizeWPanels:80%; 
    }
}